<div class="row">
  <div class="col-auto">
    <h2>The Techiest of Tech logs {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create New Post:</h3>

    <form class="form new-project-form">

    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
