<!-- Loop over each object in the projects array -->
{{#each  as || }}
<div class="row mb-4 ">
  <div class="col-md-5">

  </div>
  <div class="col-md-7">
    <p>
      {{.description}}
    </p>
  </div>
</div>
{{/each}}
